h1,
h2,
th {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.3em;
}

td,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #404040;
}

p{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 0.8em;
  color: #404040;
}

.navbar {
  background-color: #483d8b;
}

body {
  background-color: #404040;
  color: #f7ebec;
}

.main-color {
  color: #f7ebec;
}

.main-color:hover {
  color: #e200cb;
}

.container {
  background-color: #483d8b;
  padding: 5%;
  border-radius: 10px;
  color: #f7ebec;
}

.navbar-content {
  float: left;
}

.table {
  background-color: #483d8b;
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
}

.table th {
  background-color: #483d8b;
  color: #f7ebec;
}

.table td {
  background-color: #f7ebec;
  color: #483d8b;
  border: 1px solid #f7ebec;
}

.table tr {
  background-color: #f7ebec;
  border: 1px solid #f7ebec;
}

.btn-primary {
  background-color: #483d8b;
  border-color: #483d8b;
}

.btn-primary:hover {
  border-color: #e200cb;
  background-color: #483d8b;
  color: #e200cb;
}

#add-movie {
  margin-top: 50px;
}

#movie-result h5,
h3 {
  color: #404040;
}

#welcome-title{
  color: #f7ebec;
  font-size: 3em;
  font-weight: bold;
}

.card-title{
  font-size: 1.5em;
  font-weight: 900;
}

.card{
  margin-bottom: 100px;
}