h1,
h2,
th {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.3em;
}

p,
td,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.navbar {
  background-color: #483d8b;
}

body {
  background-color: #404040;
  color: #f7ebec;
}

.main-color {
  color: #f7ebec;
}

.main-color:hover {
  color: #e200cb;
}

.container {
  background-color: #483d8b;
  padding: 10%;
  border-radius: 10px;
  color: #f7ebec;
}

.navbar-content {
  float: left;
}

.table {
  background-color: #483d8b;
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
}

.table th {
  background-color: #483d8b;
  color: #f7ebec;
}

.table td {
  background-color: #f7ebec;
  color: #483d8b;
  border: 1px solid #f7ebec;
}

.table tr {
  background-color: #f7ebec;
  border: 1px solid #f7ebec;
}
