<table class="table table-light">
    <thead>
    <tr>
        <th scope="col" data-col="ID" data-order="asc" style="cursor: s-resize;">ID</th>
        <th scope="col" data-col="Username" data-order="asc" style="cursor: s-resize">Username</th>
        <th scope="col" data-col="FirstName" data-order="asc" style="cursor: s-resize">First name</th>
        <th scope="col" data-col="LastName" data-order="asc" style="cursor: s-resize">Last name</th>
        <th scope="col" data-col="Role" data-order="asc" style="cursor: s-resize">Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="user-table-body"></tbody>
</table>