<!--div class="container-fluid mt-5 text-center">
    <h3>Welcome to KinoXP</h3>

    < Reservation Frame >
    <div class="border p-4 mt-4 mx-auto" style="width: 320px;">
        <h1>Reservation</h1>

        <div class="mb-3">
            <label for="firstName" class="form-label">First Name:</label>
            <input type="text" id="firstName" name="firstName" class="form-control">
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input type="text" id="lastName" name="lastName" class="form-control">
        </div>

        <div class="mb-3">
            <label for="birthday" class="form-label">Birthday:</label>
            <input type="date" id="birthday" name="birthday" class="form-control">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" class="form-control">
        </div>

        <div class="mt-3">
            <button type="button" id="submitButtonId" class="btn btn-primary mb-2">Pay Now</button>
            <button type="button" class="btn btn-secondary">Pay Later</button>
        </div>
    </div>
</div-->/

<div class="container-fluid text-center">
  <!-- Reservation Frame -->
  <div class="rounded mt-1 p-4 mx-auto container" style="width: 520px">
    <h1>Reservation</h1>
    <hr />

    <div class="row g-3 align-items-center m-1">
      <div class="col-md-4">
        <label for="first_Name" class="col-form-label">First name:</label>
      </div>
      <div class="col-md-8">
        <input type="text" id="first_Name" class="form-control" />
      </div>
    </div>

    <div class="row g-3 align-items-center m-1">
      <div class="col-md-4">
        <label for="last_Name" class="col-form-label">Last name:</label>
      </div>
      <div class="col-md-8">
        <input type="text" id="last_Name" class="form-control" />
      </div>
    </div>

    <div class="row g-3 align-items-center m-1">
      <div class="col-md-4">
        <label for="birthday" class="col-form-label">Birthday:</label>
      </div>
      <div class="col-md-8">
        <input type="date" id="birthday" class="form-control" />
      </div>
    </div>

    <div class="row g-3 align-items-center m-1 mb-3">
      <div class="col-md-4">
        <label for="email" class="col-form-label">Email:</label>
      </div>
      <div class="col-md-8">
        <input type="email" id="email" class="form-control" />
      </div>
    </div>

    <div id="movieInfoReservation">
      <div class="" id="ticketSeats">
        <b>Seats:</b>
      </div>
      <div class="" id="ticketTheater">
        <b>Theater:</b>
      </div>
      <div class="" id="ticketMovie">
        <b>Movie:</b>
      </div>
      <div class="" id="ticketSnacks">
        <b>Snacks:</b>
      </div>
    </div>

    <div class="mt-5">
      <button
        type="button"
        id="payLater"
        class="w-100 btn btn-primary mb-3 btn-sm"
      >
        Pay Later
        <i class="fa fa-receipt"></i>
      </button>
      <button
        type="button"
        id="submitButtonId"
        class="w-100 btn btn-success btn-sm"
      >
        Pay now
        <i class="fa fa-coins"></i>
      </button>
    </div>

    <table>
      <tbody id="customer-table-body"></tbody>
    </table>
  </div>
</div>
