<div class="container-fluid mt-3 text-center">
  <h1>Login</h1>
  <hr />
</div>

<div class="container-fluid mt-3 text-center">
  <div class="container shadow">
    <form id="loginForm">
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        id="usernameField"
      />
      <input
        type="text"
        class="form-control mt-2"
        placeholder="Password"
        id="passwordField"
      />
      <input class="btn btn-dark mt-2" type="submit" value="Log in" />
    </form>
    <br />
    <form id="signupForm">
      <input type="text" value="NewUser" id="nameField" />
      <input type="text" value="123" id="passwordFieldSignup" />
      <input type="submit" value="Sign up" />
    </form>
    <div id="container"></div>
  </div>
</div>
