<div class="container-fluid mt-5 text-center">
  <div class="skeleteon-loader animated" id="loading-hero"></div>
</div>

<div
  class="container-fluid mt-5 text-center"
  id="hero-section"
  style="display: none"
></div>

<div class="container-fluid mt-5 text-center" id="showtimes">
  <select class="form-select" id="showtimes-dropdown" style="width: 18rem">
    <option value="" disabled selected>Select a date</option>
  </select>
  <div id="showtimes-container"></div>
</div>

<div class="container-fluid mt-5 text-center">
  <h1 id="movie-title"></h1>
</div>

<div class="container-fluid mt-5 text-center">
  <!-- Loading Skeleton -->
  <div class="skeleton-loader animated" id="loading-skeleton">
    <div class="skeleton-poster animated"></div>
    <div class="skeleton-title animated"></div>
    <div class="skeleton-description animated"></div>
    <div class="skeleton-genres animated"></div>
    <div class="skeleton-showtimes animated"></div>
  </div>

  <!-- Movie Details (Initially Hidden) -->
  <div class="col-4" id="movie-details" style="display: none"></div>
  <div id="showtimes" class="d-flex">
    <button class="btn btn-primary" id="reserve-btn">
      <a href="/theater" id="theater-link">Reserve Seats</a>
    </button>
  </div>
</div>
