<div class="container-fluid mt-5 text-center" id="hero-section"></div>

<div class="container-fluid mt-5 text-center" id="showtimes">
  <select class="form-select" id="showtimes-dropdown" style="width: 18rem">
    <option value="" disabled selected>Select a date</option>
  </select>
  <div id="showtimes-container"></div>
</div>

<div class="container-fluid mt-5 text-center">
  <h1 id="movie-title"></h1>
</div>

<div class="container-fluid mt-5 text-center">
  <div class="col-4" id="movie-details"></div>
</div>
