<button id="add-movie" class="btn btn-primary m-3 ms-3">Add new movie</button>
<a href="/admin" class="btn btn-primary float-end m-3">Administration</a>

<div class="modal fade" tabindex="-1" aria-hidden="true" id="movie-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="movie-modal-title">Add Movie</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="search">
          <input
            type="text"
            id="search"
            placeholder="Search for a movie"
            class="form-control"
          />
          <button id="movie-search-btn" class="btn btn-primary">Search</button>
          <div id="result"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          id="btn-add-movie"
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Add Movie
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" aria-hidden="true" id="dates-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="dates-modal-title">Select Dates</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h4>Dates</h4>
        <div class="mb-3">
          <label for="input-start-date" class="form-label">Start Date</label>
          <input
            type="date"
            class="form-control"
            id="input-start-date"
            name="start-date"
          />
        </div>
        <div class="mb-3">
          <label for="input-end-date" class="form-label">End Date</label>
          <input
            type="date"
            class="form-control"
            id="input-end-date"
            name="end-date"
          />
        </div>

        <h4>Times</h4>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="8:00"
            id="time-option-1"
          />
          <label class="form-check-label" for="time-option-1"> 8:00 </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="10:30"
            id="time-option-2"
          />
          <label class="form-check-label" for="time-option-2"> 10:30 </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="13:00"
            id="time-option-3"
          />
          <label class="form-check-label" for="time-option-3"> 13:00 </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="16:30"
            id="time-option-4"
          />
          <label class="form-check-label" for="time-option-4"> 16:30 </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="20:00"
            id="time-option-5"
          />
          <label class="form-check-label" for="time-option-5"> 20:00 </label>
        </div>
      </div>

      <h4>Theater</h4>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="theater"
          id="theater-option-1"
          value="1"
          checked
        >1</input>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="theater"
          id="theater-option-2"
          value="2"
          checked
        >2</input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          id="btn-add-dates"
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Add Dates
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" aria-hidden="true" id="edit-movie-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="edit-modal-title">Edit Movie</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3" id="edit-values"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          id="btn-submit-edit"
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="movie-details-modal-details"
  tabindex="-1"
  aria-labelledby="movie-details-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="movie-details-modal-label">
          Movie Details
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="movie-details-modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Movie</th>
      <th scope="col">Dates</th>
      <th scope="col">Tickets Sold</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="movie-table-body"></tbody>
</table>
