
<div class="container-fluid mt-5 text-center">
    <h3>Welcome to KinoXP</h3>
</div>
<div class="seats">
    <div class="seatstatus selected_seat">
        <div class="seat-text">Selected</div>
    </div>
    <br>
    <div class="seatstatus occupied">
        <div class="seat-text">Occupied </div></div>
    <br>
    <div class="seatstatus available">
        <div class="seat-text">Available</div></div>
    <br>
    <div class="seatstatus Vip">
        <div class="seat-text">Vip</div></div>
</div>


<button id="continueButton" disabled>Continue


</button>

<div id="theater1">
    <div class="box">IMAX</div>
    <br>

    <div id="seatRow"></div>
</div>

<div id="price-calculation">
  <h3>Prices</h3>
  <h4><b>Standard Tickets:</b>from 130kr.*</h4>
  <h4><b>VIP Tickets:</b> 150kr.</h4>
  <div id="totalPriceDisplay"><h4>Total:</h4></div>
</div>

<div class="seating-container">

    <div class="controls">
        <label for="seatCount">Select the number of seats: </label>
        <button id="decrementBtn">-</button>
        <span id="seatCount">0</span>
        <button id="incrementBtn">+</button>
    </div>


    

    <div id="countContainer"></div>
</div>

<div class="custom-popup" id="customPopup" style="display: none;">
    <div class="popup-content" id="popupContent">
        <img src="https://www.jptoonist.com/portfolio/Coke.jpg" alt="Loading Icon">
        <h3>Snack Selection</h3>
        <hr>
        <label>
            <input type="radio" name="snackChoice" value="small">
            Small Menu - 70 kr
        </label>
        <label>
            <input type="radio" name="snackChoice" value="medium">
            Medium Menu - 87 kr
        </label>
        <label>
            <input type="radio" name="snackChoice" value="big">
            Big Menu - 100 kr
        </label>
        <button onclick="showSnackSelection()" id="selectSnackButton">Select Snack</button>

    </div>
</div>



    <script type="module" src="../js/SeatJs.js" ></script>
    

